public/InBug-Black.png filter=lfs diff=lfs merge=lfs -text
public/InBug-White.png filter=lfs diff=lfs merge=lfs -text
public/charuco.png filter=lfs diff=lfs merge=lfs -text
public/chessboard.png filter=lfs diff=lfs merge=lfs -text
public/markerboard.png filter=lfs diff=lfs merge=lfs -text
